<h1>My tasks</h1>

<form>
  <% @tasks.each_with_index do |task, i| %>
  <div>
    <input type="checkbox" id="<%= i + 1 %>" name="completed" value="on" <%= task.completed ? "checked" : "" %>>
    <label for="<%= i + 1 %>"><%= link_to task.title, task_path(task) %></label>
  </div>
  <% end %>
</form>
